header {
    display: flex;
    height: 150px;
    background-color: rgb(255, 191, 0);
    justify-content: center;
    align-items: center;

}
body{
    margin: 0;
    padding: 0;
    background: url(img/fondo.png);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
h3{
    background-color: rgb(98, 255, 0);
    color: red;
}
.logo{
    display: flex;
    transform: rotateY(360deg);
     transition: 2s;  

}

.logo img{
    height: 150px;

}





